
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Blog Post</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">


</head>
<body>
    <div class="container">
        <h1>Delete Blog Post : {{ post.title }}</h1>
        <div class="confirmation-box">
            <p>Are you sure you want to delete the following blog post?</p>
            <p><strong>Title:</strong> {{ post.title }}</p>
            <p><strong>Author:</strong> {{ post.author }}</p>
            <p><strong>Content:</strong> {{ post.content }}</p>
            <form method="post">
                {% csrf_token %}
                <button class="btn danger" type="submit">Confirm Delete</button>
                <button class="btn warning"><a href="{% url 'post_list' %}">Cancel</a></button>

            </form>
        </div>
    </div>
</body>
</html>

