
<!DOCTYPE html>
{% load static %}
{% load cache %}  <!-- Load the cache template tag library -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <style>
        a {
            color: blue;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Blog Post List</h1>

    {% cache 300 my_cache_key %}


        {% for post in posts %}
        <div class="post">
            <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
            <p id="date">published on {{ post.timestamp }} by {{ post.author|title }}</p>
            {{ post.content | truncatewords:30 |linebreaks }}
        </div>
        {% endfor %}
            {% endcache %}


        <button type="button"><a href="{% url 'post_create' %}">Create New Post</a></button>
    </div>
</body>
</html>
