
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
</head>
<body>
    <div class="container">
        <h1>{{ post.title }}</h1>
        <div class="post">
            <p id="date">published on {{ post.timestamp }} by {{ post.author|title }}</p>
            {{ post.content | linebreaks }}
        </div>
        <button class="btn warning"><a href="{% url 'post_list' %}">Back to List</a></button>
        <button class="btn danger"><a href="{% url 'post_delete' post.pk %}">Delete</a></button>
        <button class="btn warning"><a href="{% url 'post_edit' post.pk %}">Edit</a></button>
    </div>
</body>
</html>








