
<!DOCTYPE html>
{% load static %}
{% load cache %}  <!-- Load the cache template tag library -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Edit Post{% else %}Create Post{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">

    <style>

        form {
            width: 80%;
            margin: 0 auto;
        }
        .form-group {
            margin-bottom: 20px;
        }
        label {
            font-weight: bold;
        }
        input[type="text"],
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .error {
            color: aliceblue;
            font-family: Helvetica Neue;
        }

    </style>
</head>
<body>



    <h1>{% if form.instance.pk %}Edit Post{% else %}Create Post{% endif %}</h1>
    <form method="post">
        {% csrf_token %}

         {% if form.errors %}
        <div class="error">
            {{ form.non_field_errors }}
            {{ form.title.errors }}
            <!-- Display other field errors if needed -->
        </div>
    {% endif %}

        <div class="form-group">
            <label for="{{ form.title.id_for_label }}">Title:</label>
            {{ form.title }}
        </div>

        <div class="form-group">
            <label for="{{ form.content.id_for_label }}">Content:</label>
            {{ form.content }}
        </div>


           <div class="form-group">
            <label for="{{ form.author.id_for_label }}">Author:</label>
            {{ form.author }}
        </div>

        <div class="form-group">
            <button type="submit">Save</button>
            <a href="{% url 'post_list' %}">Cancel</a>


        </div>

    </form>

   {% cache 300 my_cache_key %}  <!-- Cache the content below -->
        <!-- Cached content here -->
    {% endcache %}


</body>
</html>

